*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: large;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid rgb(153, 104, 104);
}
.nav-items>ul{
    display: flex;
    list-style: none;
    padding: 50px;
    margin-left: 20px;
}
.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}
.Logo {
    width: 150px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;

}
.res-card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    

}
.res-card:hover{
    background-color: antiquewhite;
    cursor: pointer;
    border: 1px solid rgba(134, 87, 87, 0.76);
    border-radius: 5px;
}
.res-logo{
    width: 100%;
    
}